/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home section */
#home{
    height: 370px;
    padding: 3px 68px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}

/* Services Section */
#services{
    flex-direction: column;
}
#services .box{

}

/* Client Section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 166px;
    padding: 35px;
}

/* Contact Section */

/* Footer */

/* Utility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}