body {
    margin: 0;
}

.s1 {
    background: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url('/images/background.jpg') bottom/cover fixed no-repeat;
    position: relative;
    height: 60vh;
    width: 100%;
}

#logo {
    height: 3.5rem;
    width: 12rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

nav {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 1rem;
}

nav ul li {
    padding: 0;
    width: 4rem;
    text-align: center;
}

nav ul a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 0.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.yo ul li::after {
    height: 0.2rem;
    width: 0;
    content: '';
    background-color: rgb(198, 196, 196);
    margin: auto;
    transition: 0.5s;
    display: block;
}

.yo ul li:hover::after {
    width: 60%;
}

.d1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: whitesmoke;
    font-size: 130%;
}

.d1 h1 {
    width: 50%;
    margin: auto;
    margin-top: 8rem;
}

.s2 {
    min-height: 45rem;
}